body {
    background-color: #e6e6fa;
    color: #191970;
    font-family: Arial, Verdana, sans-serif;
}
h1 { 
    background-color: #191970;
    color: #e6e6fa;
    line-height: 200%;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 3px 3px 5px #cccccc;
    padding-left: 25px; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h2 {
    background-color: #aeaed4;
    color: #191970;
    text-align: center;
    line-height: 200%;
    font-family: Georgia, "Times New Roman", serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
}
p {
    font-size: .90em;
    text-indent: 3em;
}
ul {
    font-weight: bold;
}
nav {
    text-align: right;
    font-weight: bold;
    padding-right: 25px;
}
footer {
    color: #333333;
    font-size: .75em;
    font-style: italic;
}

#me {
    float: left;
}

#div1 {
       float: auto;
    text-align: left;
    padding: 0px 400px 240px 400px;
}

h3 { 
    font-size: 2em;
    color: #191970;
    line-height: 100%;
    font-family: Georgia, "Times New Roman", serif;
    padding-left: 300px; 
    padding-top: 80px;
}
h4 { 
    font-weight: 100;
    font-size: 1.2em;
    color: #191970;
    line-height: 0%;
    font-family: Georgia, "Times New Roman", serif;
    padding-left: 300px; 
}
.row {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2px 500px 50px 500px;
}
/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 2px 10px 2px 10px;
}
.column img {
    margin-top: 8px;
    margin-left: 8px;
    vertical-align: middle;
}
h5 { 
    text-align: center;
    font-weight: 100;
    font-size: 1.2em;
    color: #191970;
    line-height: 0%;
    font-family: Georgia, "Times New Roman", serif; 